numpy
pandas
polars
pyarrow
scipy
scikit-learn
statsmodels
ruptures
optuna
datasetsforecast
statsforecast
mlforecast
neuralforecast
utilsforecast
xgboost
torch
lightning
pytorch-lightning
tqdm
pyyaml
joblib
psutil
pytest

